<h1 class="sidebar"><a class="sidebar" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
<h1 style="font-size:18px; font-style:italic;">{{ .Site.Params.title }} <br/>
{{ .Site.Params.institution }}</h1>
<hr/>
{{ $.Scratch.Set "currentPageTitle" .Title }}
{{ range .Site.Menus.main }}
<p class="sidebar"><a class="sidebar" href="{{ "/" | relURL }}">About</a></p>
<p class="sidebar"><a class="sidebar" href="/research/">Research</a></p>
	{{ if (eq "Research" ($.Scratch.Get "currentPageTitle")) }}
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorkingPapers" | relURL }}">Working Papers</a></p>
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorkInProgress" | relURL }}">Work in Progress</a></p>
	{{end}}
<p class="sidebar"><a class="sidebar" href="/teaching/">Teaching</a></p>
<p class="sidebar"><a class="sidebar" href="/miscellaneous/">Miscellaneous</a></p>
<p class="sidebar"><a class="sidebar" href="{{ "/#contact" | relURL }}">Contact</a></p>

{{ with .Site.Params.logo }}
<img src="{{ . | relURL }}" alt="Logo" style="padding-top: 2em; padding-bottom: 1em; max-width: 100%;"/>
{{ end }}
